/*	Chris  Bunting
	Web design project 1
	Home/ gallery pages CSS
	ITD 210
	10/1/2022 */
	
	/*most of the code from this pages will be used in following pages so they will have the same look*/
	
	body {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 100%;
		width: 100%;
		
		}
	
	header{
		background-color: #000000;
		height: 30%;
		width:100%;
	}
	
	
	div > h1 {
		font-size: 4.0em;
		font-family: Arial, Helvetica, sans-serif;
	}

	div > h2 {
		font-size: 2.8em;
		font-family: Arial, Helvetica, sans-serif;
	}
	div > h3 {
		font-size: 2.2em;
		font-family: Arial, Helvetica, sans-serif;
	}
	div > h4 {
		font-size: 2.0em;
		font-family: Arial, Helvetica, sans-serif;
	}
	p {
		font-size: 2.0em;
		font-family: Arial, Helvetica, sans-serif;
		padding:20px;
	}
	
	
	/*restaurant logo*/
	.logo {
		text-align: center;
		float: center;
		width: 100%;
	}
	/*extra CSS for navigation area of page*/
	.container {
		background-color: #000000;
		color: white;
		padding: 15px; 
		font-size: 25px;
		width: 100%;
	}
	/*Contact us section and button code*/
	
	.Contus{
		text-align:center;
		width:100%;
		padding: 15px;
		color: white;
		float: center;
		background-color: #000000;
	}
	.Cus-btn{
		text-align: center;
		padding: 8px;
		font-size: 20px;
		background-color: #ffffff;
		border-radius: 12px;
		color: black;
		text-decoration: none;
		}
	.Cus-btn:hover {
		opacity: 0.6;
		text-decoration: none;
		}

	
	/*Main photograph image for the home page*/
	.main-photo {
		text-align: center;
		float: center;
		width: 100%;
	}
	/*Main section of the home page. contains welcome message*/
	.words {
		background-color: #D3D3D3;
		padding:20px;
		color: #000000;
		float: center;
		text-align: center;
		}
	
	/* second area on page with open table reservation notice*/
	.open {
		background-color: #666666;
		padding:15px;
		color: white;
		text-align: center;
		}
	/* code for open table button and link.  I wanted the link to open on a new page/tab on the desktop*/
	.otable-btn {
		background-color: red;
		color: white;
		font-size:20px;
		padding:15px;
		border-radius: 12px;
		text-align:center;
		text-decoration: none;
		width:100%;
		}
	.otable-btn:hover {
		opacity: 0.6;
		text-decoration: none;
		}
	.otable-btn:visited {
		background-color: red;
		color: white;
		font-size:20px;
		padding:15px;
		border-radius: 12px;
		text-align:center;
		text-decoration: none;
		width:100%;
		}
	/*Code for footer area of page*/
	.col-md-6 {
		vertical-align:center;
	}
	
	.bot {  
		vertical-align:center;
		text-align: center;
		margin: auto;
		background-color: #000000;
		padding: 10px;
		display: inline-block;
		width: 100%;	
		bottom:0;
		z-index: 1;
		
	}
	
	
	.addr {
		text-align: left;
		background-color: #000000;
		display: flex;
		align-items: center;
		vertical-align: center;
		color: white;
		float: left;
		}	
	
	.social {
		display:inline-block;
		vertical-align: center;
		padding:30px;
		float: right;	
		}
	/* social media buttons*/
	.fa {
		padding: 10px;
		font-size: 30px;
		width: 50px;
		color: white;
		vertical-align:center;
		text-align: center;
		text-decoration: none;
		align-items: center;
		float: right;
		margin: 7px;
		}

	.fa:hover {
		opacity: 0.7;
		text-decoration: none;
		}

	.fa-facebook {
		background: #3B5998;
		color: white;
		text-align: center;
		text-decoration: none;
		}
	.fa-instagram {
		background: #cb2027;
		color: white;
		text-align: center;
		text-decoration: none;
		}
	
	/*Main section of the contact us form page. contains welcome message*/
			
	.center-block {
		font-size:1.6em;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width:50%;
		}

		
	/*Code for contact page return to home page button*/
	.goBack-btn {
		background-color: red;
		color: white;
		font-size:20px;
		padding:15px;
		border-radius: 12px;
		text-align:center;
		text-decoration: none;
		width:100%;
		}
	.goBack-btn:hover {
		opacity: 0.6;
		text-decoration: none;
		}
	.goback-btn:visited {
		background-color: red;
		color: white;
		font-size:20px;
		padding:15px;
		border-radius: 12px;
		text-align:center;
		text-decoration: none;
		width:100%;
		}

	/* Additional CSS code for Gallery page and slider */
	/* I wanted background of gallery photo slider to be a little darker than default color.*/
	.carousel {
		background-color: #A9A9A9;
	}
	/*code to increase size of images from bootstrap default width*/
	.img-responsive{
		width: 60%;
	}


	
		
/* CSS Code for Menu page*/
	/*Code for Chef message and menu page photo*/
	.menumessage {
		background-color: #D3D3D3;
		display: flex;
		color: #000000;
		text-align: center;
		width:100%;
			}
		
	div#menuphoto {
		background-color: #D3D3D3;
		display:inline-block;
		vertical-align: center;
		padding:20px;
		float: right;
		
	}
	.menuphoto2 {
		display:inline-block;
		width: 65%;
		}

	div#chefmessage {
		background-color: #D3D3D3;
		display:inline-block;
		padding:30px;
		color: #000000;
		text-align: center;
		vertical-align: center;
		font-style: italic;
		}
		
		
	/* menu title box */
	.menutitle {
		background-color: #666666;
		padding:20px;
		color: white;
		text-align: center;
		}
	/* code for menu area*/	
	.descriptions {
		background-color: #f8f8ff;
		color: #000000;
		padding:25px;
		
	/* code to increase the table font size from the bootstrap default*/	
			}	
	.list{
		font-size: 1.5em;
	/*Code for spacing fo the menu table columns*/
	}
	.th1 {
		width:25%;
		}
	.th2 {
		width:60%;
	}
	.th3 {
		width:15%;
	}	
	
	/* Changing Text for small and mobile screens*/
	@media only screen and (max-width: 640px) {
	
       
    div >h1 {
      font-size: 3.0em;
	}
    div >h2 {
      font-size: 2.3em;
	}
    div>h3 {
      font-size: 2.0em;
	}
	div>h4 {
      font-size: 1.2em;
	}
    p {
      font-size: 1.6em;
	}
   .addr{
	   padding: 0px;
	}
	
	
	 /* code to provide an additional decrease in the font size on the Menu page's "Chef's message" */
   .row #chefmessage>h2 {
	   font-size: 1.6em;
	}
	/*code to reduce menu item size with screen*/
	.list{
		font-size: 1.0em;
	
	}



	}
   /* Changing footer Text for Smaller screens*/
	@media only screen and (max-width: 411px) {
   
   	div>h4 {
      font-size: 1.1em;
	}
	.social{
		padding:5px;
	}
	
	/*code to reduce the photo caption size on smaller screens*/
	.carousel-caption >h3{
		font-size: 1.2em;
	}
	
	
	}
	
	/* Code for the footer area on the smallest phones (Galaxy Fold, etc)*/
	@media only screen and (max-width: 346px) {
   
   	.bot{
		padding: 5px;
	}
   
    div>h4 {
		font-size: 1.1em;
		padding: 2px;
   }
	
	.social{
		padding:7px;
		
	}
		
	/* decreased the size of the social media icons*/
	.fa {
		padding: 4px;
		font-size: 20px;
		width: 30px;
		color: white;
		vertical-align:center;
		text-align: center;
		text-decoration: none;
		align-items: center;
		float: right;
		margin: 2px;
	}
		
	}
		


